<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="app" data-is-authenticated="{{ isAuthenticated }}" data-roles="{{ roles }}"></div>
{{ encore_entry_script_tags('app') }}
</body>
</html>
